<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.on.conestogac.alj.studentassistancemanagerandroid">

    <application
        android:name=".SAMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentAssistanceManagerAndroid">
        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalendarActivity" android:label="@string/Title_Calendar"></activity>
        <activity android:name=".AllAssignmentActivity" android:label="@string/Show_All_Events"></activity>
        <activity android:name=".AssignmentDetailsActivity" android:label="Assignment Details"></activity>
    </application>

</manifest>