<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.on.conestogac.alj.studentassistancemanagerandroid">

    <application
        android:name=".SAMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentAssistanceManagerAndroid">

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="false"></service>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".CalendarActivity" android:label="@string/Title_Calendar"></activity>
        <activity android:name=".AllAssignmentActivity" android:label="@string/Title_All_Events"></activity>
        <activity android:name=".AssignmentDetailsActivity" android:label="Assignment Details"></activity>
        <activity android:name=".CreateEventActivity" android:label="@string/Create_Event_Button"></activity>

        <activity android:name=".BudgetHomeActivity" android:label="Budget"></activity>
        <activity android:name=".AddTransactionActivity" android:label="Transaction"></activity>
        <activity android:name=".GoalsActivity" android:label="Budget Goals"></activity>
        <activity android:name=".BudgetRecordsActivity" android:label="Budget Records"></activity>
        <activity android:name=".RecordDetailsActivity" android:label="Monthly Report"></activity>
        <activity android:name=".AllTransactionActivity" android:label="Transaction History"></activity>
        <activity android:name=".TransactionDetailActivity" android:label="Transaction Details"></activity>

    </application>

</manifest>